@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Onest Variable', 'sans-serif';
  --font-headings: 'Syne Mono', monospace;

  /* Color */
  --color-dark: #18181b;
  --color-dark-rgb: 24, 24, 27;
  --color-light: #f6f2ef;
  --color-light-rgb: 246, 242, 239;
  --color-primary: #b45309;
  --color-primary-rgb: 180, 83, 9;
  --color-secondary: #082f49;
  --color-secondary-rgb: 8, 47, 73;
  --color-turquoise: #349098;
  --color-turquoise-rgb: 52, 144, 152;
  --color-purple-pale: #b06dcc;
  --color-purple-pale-rgb: 176, 109, 204;
  --color-sky-pale: #61bbf7;

  /* Font sizes */
  --text-fs-100: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --text-fs-200: clamp(1rem, calc(0.93rem + 0.33vw), 1.105rem);
  --text-fs-300: clamp(1.105rem, calc(1.05rem + 0.63vw), 1.28rem);
  --text-fs-400: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --text-fs-500: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --text-fs-600: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --text-fs-700: clamp(3rem, calc(2rem + 5vw), 5.6rem);

  /* Custom Animations */

  --animate-slide-full-in-bottom: slide-full-in-bottom 0.6s
    cubic-bezier(0.83, 0, 0.17, 1) both;
  --animate-background-pan: background-pan 40s cubic-bezier(0.6, 0.05, 0.1, 0.9)
    infinite;
  --animate-fade-in: fade-in 0.35s linear both;
  --animate-fade-out: fade-out 0.35s linear both;
  --animate-bounce-scale-fade: bounce-scale-fade 0.65s
    cubic-bezier(0.83, 0, 0.17, 1) both;
  --animate-zoom-out: zoom-out 0.25s cubic-bezier(0.83, 0, 0.17, 1) both;

  @keyframes slide-full-in-bottom {
    0% {
      transform: translateY(110%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes background-pan {
    0% {
      background-position: 30% center;
    }
    50% {
      background-position: 90% center;
    }
    100% {
      background-position: 30% center;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes bounce-scale-fade {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }

    30% {
      transform: scale(1.1);
      opacity: 0.8;
    }

    50% {
      transform: scale(0.95);
      opacity: 1;
    }

    70% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes move-out {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.98);
      opacity: 0;
    }
  }

  @keyframes move-in {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      transform: scale(0.95);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transform: scale(1);
    }
  }
}

@layer theme {
  .dark {
    --color-dark: #f4f4f5;
    --color-light: #030712;
    --color-primary: #f59e0b;
    --color-secondary: #bae6fd;
    --color-turquoise: #5fdde5;
    --color-purple-pale: #e0b3f3;
    --color-sky-pale: #a5d8fa;
  }
}

@layer utilities {
  /* Ejecutar dos animaciones en una sola clase */
  .animate-fade-in-and-pan {
    animation:
      fade-in 0.15s linear forwards,
      background-pan 60s linear infinite;
    /* background-pan 40s cubic-bezier(0.6, 0.05, 0.1, 0.9) infinite; */
  }

  .animate-fade-out-custom {
    animation: fade-out 0.15s linear forwards;
  }

  .bounce-scale-fade {
    animation: bounce-scale-fade 0.75s linear both;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    --dark: #18181b;
    --dark-rgb: 24, 24, 27;
    --light: #f6f2ef;
    --light-rgb: 246, 242, 239;
    --primary: #b45309;
    --primary-rgb: 180, 83, 9;
    --secondary: #082f49;
    --secondary-rgb: 8, 47, 73;
    --turquoise: #349098;
    --turquoise-rgb: 52, 144, 152;
    --purple-pale: #b06dcc;
    --purple-pale-rgb: 176, 109, 204;
    --sky-pale: #61bbf7;

    --main-header-height: 4rem;
    --transition-ease: cubic-bezier(0.83, 0, 0.17, 1);
    --widthLabel: 60;
    --heightLabel: 30;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-body font-normal text-dark text-fs-100 bg-light text-pretty transition-colors duration-300 min-h-screen;
  }

  body p {
    @apply font-light leading-relaxed text-fs-300 transition-colors duration-300;
  }

  body li {
    @apply leading-relaxed my-4 lg:text-[22px];
    &:before {
      @apply leading-none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-light leading-[1.2] text-dark text-balance;
  }

  h1 {
    @apply text-fs-600;
  }
  h2 {
    @apply text-fs-500;
  }
  h3 {
    @apply text-fs-400;
  }
  h4 {
    @apply text-fs-300;
  }
  h5 {
    @apply text-fs-200;
  }
}

::view-transition-old(move-out) {
  animation: 1.5s cubic-bezier(0.87, 0, 0.13, 1) both move-out;
}

::view-transition-new(move-in) {
  animation: 1.5s cubic-bezier(0.87, 0, 0.13, 1) both move-in;
}
