---
import Send from '@/components/icons/send.icon.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class="grow">
    <h1 class="font-headings">Contacto</h1>
    <Send
      classNames="opacity-20 bottom-[4rem] absolute md:w-[550px] rotate-[-25deg] md:bottom-[7rem] md:right-[6rem]"
    />
  </section>
</Layout>
