---
import Home from '@/components/icons/home.icon.astro'
import MenuRrss from '@/components/menu-rrss.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class="flex flex-col grow gap-y-6 max-w-3xl lg:w-[65%] lg:pl-8">
    <h1 class="font-headings">Víctor M. Olmedo</h1>
    <p class="flex flex-col">
      Desarrollador Web Frontend <small
        class="bg-dark text-[13px] text-light py-[2px] px-2 rounded-md size-max"
        >en continuo desarrollo...</small
      >
    </p>
    <div class="grow lg:flex lg:flex-col lg:justify-between">
      <p class="text-base sm:text-lg">
        Apasionado por crear interfaces de usuario accesibles, eficientes y
        visualmente atractivas. Llevo unos 10 años picando código y evitando
        bugs (o al menos intentándolo...) y me he centrado en construir
        aplicaciones web modernas que ofrecen una excelente experiencia de
        usuario.
      </p>
      <MenuRrss classNames="pt-4 mt-6" />
    </div>
    <Home
      classNames="opacity-20 bottom-[4rem] -z-10 absolute md:w-[750px] rotate-[-25deg] md:-bottom-[4rem] md:right-[2rem]"
    />
  </section>
</Layout>
