---
import HomeSketch from '@/assets/home-sketch.png'
import ContactSketch from '@/assets/contact-sketch.png'
import CodeSketch from '@/assets/code-sketch.png'
import { Image } from 'astro:assets'

const itemsMenu = [
  {
    name: 'Inicio',
    href: '/',
    icon: HomeSketch,
  },
  {
    name: 'Proyectos',
    href: '/proyectos',
    icon: CodeSketch,
  },
  {
    name: 'Contacto',
    href: '/contacto',
    icon: ContactSketch,
  },
]

const [home, projects, contact] = itemsMenu

interface Props {
  classNames?: string
}

const { classNames } = Astro.props
---

<header class:list={['relative', classNames]}>
  <nav class="flex flex-col">
    {
      itemsMenu.map((item) => (
        <a
          data-icon={item.icon.src}
          data-path={item.href}
          class="menu-item font-headings hover:-skew-x-12 hover:translate-x-6 duration-500 group transition-all ease-(var(--transition-ease))"
          href={item.href}
        >
          <h2 class="text-5xl sm:text-7xl transition-colors duration-500 group-hover:text-primary">
            {item.name}
          </h2>
        </a>
      ))
    }
  </nav>
</header>

<style>
  .active {
    transform: skewX(calc(12deg * -1));
    & h2 {
      color: var(--color-primary);
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const menuItems = document.querySelectorAll(
      '.menu-item',
    ) as NodeListOf<HTMLLinkElement>
    const pathname = window.location.pathname.split('/')[1]

    menuItems.forEach((item) => {
      const dataPath = item.dataset.path?.split('/')[1]

      if (pathname === dataPath) {
        item.style.pointerEvents = 'none'
        item.classList.add('active')
      }
    })
  })
</script>
