---
import ToggleTheme from '@/components/header/toggle-theme.astro'
---

<header class="flex justify-center items-center py-4 gap-x-4">
  <img src="" alt="" />
  <nav class="flex justify-center items-center gap-x-4">
    <a class="[font-size:15px] sm:text-fs-300" href="#proyectos">Proyectos</a>
    <a class="[font-size:15px] sm:text-fs-300" href="#about">Sobre mi</a>
    <a class="[font-size:15px] sm:text-fs-300" href="#contact">Contacto</a>
  </nav>
  <ToggleTheme />
</header>
