---
// #75bcf6
import Nextjs from '@/assets/svgs/nextjs.svg'
import Wordpress from '@/assets/svgs/wordpress.svg'
import Strapi from '@/assets/svgs/strapi.svg'
import Tailwindcss from '@/assets/svgs/tailwindcss.svg'
import CSS from '@/assets/svgs/css.svg'
import JS from '@/assets/svgs/js.svg'

interface Props {
  classNames?: string
  text: string
}

const { classNames, text } = Astro.props

const tags = [
  {
    id: 1,
    name: 'Next.js',
    classNames: 'bg-black text-white dark:border dark:border-white',
    icon: Nextjs,
  },
  {
    id: 2,
    name: 'Tailwind CSS',
    classNames: 'bg-[#003159] text-white',
    icon: Tailwindcss,
  },
  {
    id: 3,
    name: 'Wordpress',
    classNames: 'bg-[#444240] text-white',
    icon: Wordpress,
  },
  {
    id: 4,
    name: 'Strapi',
    classNames: 'bg-[#4945FD] text-white',
    icon: Strapi,
  },
  {
    id: 5,
    name: 'CSS',
    classNames: 'bg-[#264DE4] text-white',
    icon: CSS,
  },
  {
    id: 6,
    name: 'JavaScript',
    classNames: 'bg-[#DF9C29] text-white',
    icon: JS,
  },
]

const tag = tags.find((tag) => tag.name === text)
const colorTag = tag?.classNames
const icon = tag?.icon
---

<span class="relative group/icon">
  <span
    class:list={[
      'text-xs font-medium p-1 rounded-md flex items-center gap-x-1',
      classNames,
      colorTag,
    ]}
  >
    {icon && <tag.icon class="inline-block w-4 h-4 sm:w-6 sm:h-6 text-white" />}
  </span>
  <div
    role="tooltip"
    class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 opacity-0 group-hover/icon:opacity-100 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-xs transition-opacity duration-300 size-max"
  >
    {text}
    <div
      class="absolute left-1/2 transform -translate-x-1/2 bottom-[-5px] w-0 h-0 border-l-[5px] border-r-[5px] border-t-[5px] border-t-white border-transparent"
    >
    </div>
  </div>
</span>
