---

---

<footer class="text-center animate-fade-in animate-delay-1000 mt-6">
  © 2025 <span class="text-primary">Ulmetum</span>. Todos los derechos
  reservados. Diseñado y desarrollado con dos pestañas abiertas y rooibos.
</footer>
