---
import '@/styles/global.css'
import '@fontsource-variable/onest'
import '@fontsource/syne-mono'
import { ClientRouter } from 'astro:transitions'
import Navigation from '@/components/header/navigation.astro'
import Footer from '@/components/footer/footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <main
      class="relative px-4 flex flex-col py-12 lg:flex-row lg:gap-x-8 min-h-screen w-[min(100%,1440px)] mx-auto"
    >
      <slot />
      <Navigation
        classNames=" mt-10 lg:absolute lg:bottom-12 lg:w-[35%] lg:right-0 lg:pr-8 "
      />
    </main>
    <Footer />
  </body>
</html>
