---
import '@/styles/global.css'
import '@fontsource-variable/onest'
import '@fontsource/syne-mono'
import { ClientRouter } from 'astro:transitions'
import Navigation from '@/components/header/navigation.astro'
import Footer from '@/components/footer/footer.astro'

const anim = {
  old: {
    name: 'move-out',
    duration: '1s',
    easing: 'cubic-bezier(0.87, 0, 0.13, 1)',
    fillMode: 'both',
  },
  new: {
    name: 'move-in',
    duration: '1.5s',
    // delay: '0.5s',
    easing: 'cubic-bezier(0.87, 0, 0.13, 1)',
    fillMode: 'both',
  },
}

const customTransition = {
  forwards: anim,
  backwards: anim,
}
---

<!doctype html>
<html lang="en" transition:animate={customTransition}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <main
      class="relative px-4 flex flex-col py-12 lg:flex-row lg:gap-x-8 min-h-screen w-[min(100%,1440px)] mx-auto"
    >
      <slot />
      <Navigation
        classNames=" mt-10 md:absolute md:bottom-12 md:w-[35%] md:left-0 md:pl-8 "
      />
    </main>
    <Footer />
  </body>
</html>
