---
import Navigation from '@/components/header/navigation.astro'
import '@/styles/global.css'
import '@fontsource-variable/onest'
import '@fontsource/syne-mono'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <!-- <Navigation /> -->
    <main class="px-4 flex flex-col justify-center py-12 min-h-screen">
      <slot />
      <Navigation />
    </main>
  </body>
</html>
