---
import Navigation from '@/components/header/navigation.astro'
import '@/styles/global.css'
import '@fontsource-variable/onest'
import '@fontsource/syne-mono'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <!-- <Navigation /> -->
    <main
      class="px-4 flex flex-col justify-center py-12 lg:flex-row lg:gap-x-8 min-h-screen w-[min(100%,1440px)] mx-auto"
    >
      <slot />
      <Navigation
        classNames="lg:w-1/2 lg:flex lg:items-end lg:justify-end pr-8"
      />
    </main>
  </body>
</html>
