---
import BadgeTag from '@/components/badge-tag.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout>
  <section class="flex flex-col gap-y-6 max-w-3xl lg:w-[65%] lg:pl-8 grow">
    <h1 class="font-headings">Proyectos</h1>
    <p class="text-base">
      Como todo en la vida, los trabajos que he desarrollado a lo largo de mi
      camino en el mundo de la programación web han ido evolucionando y
      mejorando con el tiempo. A día de hoy sigo con el mismo interés que cuando
      empecé, me esfuerzo por mantenerme al día con las últimas tecnologías, y
      fruto de ello paso a mostrarte algunos de los proyectos de los que más
      orgulloso me siento. Son el reflejo del sacrificio, el aprendizaje y la
      dedicación de todos estos años.
    </p>
    <article class="flex flex-col gap-y-4">
      {
        projects.map((project, index) => (
          <div class="group space-y-4 sm:space-y-2">
            <div class="flex flex-col gap-y-1 sm:flex-row sm:justify-between">
              <div class="overflow-hidden leading-none py-1">
                <h3
                  style={{ animationDelay: `${index * 100}ms` }}
                  class=" animate-slide-full-in-bottom animate-bezier-quart-in-out animate-duration-1000 "
                >
                  {project.data.title}
                </h3>
              </div>
              <div class="flex flex-wrap items-center gap-2 ">
                {project.data.tags.map((tag, i) => (
                  <div
                    style={{ transitionDelay: `${i * 50}ms` }}
                    class="lg:opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-out"
                  >
                    <BadgeTag text={tag} />
                  </div>
                ))}
              </div>
            </div>
            <p
              style={{ animationDelay: `${index * 100}ms` }}
              class="text-base animate-fade-in animate-duration-800"
            >
              {project.data.description}
            </p>
          </div>
        ))
      }
    </article>
  </section>
</Layout>
