---
import type { InferEntrySchema } from 'astro:content'

import Github from '@/assets/svgs/github.svg'
import Preview from '@/assets/svgs/preview.svg'

interface Props {
  data: InferEntrySchema<'projects'>
}

const { data } = Astro.props
---

<div class="flex gap-x-4 mt-4">
  {
    data.github && (
      <a
        class="btn rounded-xl text-lg dark:text-black bg-gray-200 px-4 py-2 gap-x-1 flex items-center"
        href={data.github}
        target="_blank"
      >
        <Github /> Github
      </a>
    )
  }
  {
    data.link && (
      <a
        class="btn rounded-xl text-lg dark:text-black bg-gray-200 px-4 py-2 gap-x-1 flex items-center"
        href={data.link}
        target="_blank"
      >
        <Preview /> Preview
      </a>
    )
  }
</div>

<style>
  .btn {
    box-shadow: 0 0 0 1px rgba(var(--color-color-rgb), 0.9) inset;
    transition:
      box-shadow 0.5s ease-out,
      color 0.35s ease-out;
    &:hover {
      box-shadow: 0 0 0 100px rgba(var(--color-color-rgb), 0.9) inset;
      color: white;
    }
  }
</style>
